.wordle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.wordle:focus {
    outline: none;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: lowercase;
    padding: 0.3em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align: center;
}

.nav {
    width: 100vw;
    margin-bottom: 0.2em;
    border-bottom: 0.01px solid var(--absent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navdata {
    min-width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1 {
    color: var(--present);
}
.title2 {
    color: var(--correct);
}

.tinytitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.sharebutton {
    max-width: 30px;
    height: auto;    
    scale: 0.8;
}

.heartbutton {
    max-width: 30px;
    height: auto;
}

.disable {
    visibility: hidden;
}

.sharebuttonleft {
    max-width: 30px;
    height: auto;
    visibility: hidden;
}
  
.notification {
    text-align: center;
    height: 1rem;
    margin: 0.1em;
    padding-bottom: 0.2em;
    color: salmon;
    font-weight: 600;
    font-size: 1.25rem;
}

.notification--green {
    color: #538d4e;
}

@media only screen and (max-width: 400px) {
    .title {
        font-size: 1.8rem;
    }
    .tinytitle {
        font-size: 1rem;
    }
}