.wordle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.wordle:focus {
    outline: none;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: lowercase;
    padding: 0.3em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-bottom: 0.2em;
    border-bottom: 0.01px solid var(--absent);
    width: 100vw;
    text-align: center;
}

.tinytitle {
    font-size: 1.2rem;
    font-weight: 500;
}
  
.notification {
    text-align: center;
    height: 1rem;
    margin: 0.1em;
    padding-bottom: 0.2em;
    color: salmon;
    font-weight: 600;
    font-size: 1.25rem;
}

.notification--green {
    color: #538d4e;
}